//.fixButton {
//    position: fixed;
//    right: 0;
//    bottom: 5%;
//
//    &:hover {
//        right: 28px;
//    }
//}

.fixButton {
    position: fixed;
    bottom: 6%;
    right: 70px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.fixButton.hidden {
    transform: translateX(100%);
    opacity: 0;
}

/* 新增悬停样式 */
.fixButton:hover {
    transform: scale(1.1); /* 放大按钮 */
}

/* 提示信息样式 */
.fixButton .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 从按钮下方偏移 */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* 提示信息箭头 */
.fixButton .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* 当鼠标悬停在按钮上时显示提示信息 */
.fixButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
